# sudo nano /etc/systemd/system/royalrasoyi-app.service
# sudo systemctl daemon-reload
# sudo systemctl enable royalrasoyi-app.service
# sudo systemctl start royalrasoyi-app.service

[Unit]
Description=Royal Rasoyi Angular SSR
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/royalrasoyi/html
Environment=NODE_ENV=production
Environment=PORT=4100
ExecStart=/usr/bin/node /var/www/royalrasoyi/html/server/server.mjs
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
